<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <h4>Toy store</h4>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="/home">Home</a></li>
                <li><a href="/products">Store in Ha Noi</a></li>
                <li><a href="/products2">Store in HCM</a></li>
                <br><br>
                <div class="logout-btn">
                    <a href="/logout" class="btn btn-primary">Logout</a>
                </div>
            </ul><br>
        </div>

        <div class="col-sm-9">
            <div
                style="background-color:#9393ec ; padding-top: 10px;padding-right: 30px; padding-bottom: 10px;padding-left: 80px;">
                <h2 style="color: black; margin-right: 150px; margin-left: 250px;">Your Smile Is Our Happiness </h2>
            </div>
            <hr>
            <img src="https://play-lh.googleusercontent.com/4i5o3vN_Z4n3LmDoGWeYbcCIQBV530G3VpczY-TQ2RYtRJsEZQmrWYk9bgmfqhjfAhw"
                alt=""
                style="width:528px;height:528px;margin-top: 10px; margin-bottom: 10px; margin-right: 150px; margin-left: 300px;">
            <br><br>
        </div>
    </div>
</div>

<footer class="container-fluid">
    <p style="margin-top: 10px; margin-bottom: 10px; margin-right: 150px; margin-left: 600px;">© 2023
        Copyright:ThanhTung store</p>
</footer>